.players-panel .list-group-item {
    display: flex;
    justify-content: space-between;
}
.players-panel .list-group-item.active {
    font-size: 22px;
    font-weight: bold;
}
.players-panel .list-group-item:not(.active) {
    color: black;
}